Title: About
IsPage: true
ShowInNavbar: true
Order: 600
---
<p>Hi, my name is Alex Hedley.</p>

<p>I'm a Senior IT Consultant, currently working for <a href="https://opencastsoftware.com/" target="_blank">Opencast Software</a>.</p>

<p>Find me on:
    <ul>
        <li><a href="https://www.linkedin.com/in/alexhedley/" target="_blank">LinkedIn</a></li>
        <li><a href="https://twitter.com/alexhedley" target="_blank">twitter</a></li>
    </ul>
</p>

<p>This blog was generated using <a href="https://www.statiq.dev/">Statiq</a> a really nice open source tool that I can only suggest you to have a look at.</p>